*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1.3 'Lato', sans-serif;
  background: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.height {
  height: 1000px;
}

/*----------Стили для header----------*/

header {
  position: relative;
  left: 0;
  right: 0;
  background-color: rgba(2%, 5%, 14%, 1);
  z-index: 200;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
  z-index: 1000;
  background-color: rgba(2%, 5%, 14%, 1);
}

.navigation__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
  background-color: rgba(2%, 5%, 14%, 1);
  z-index: 1000;

}

.header-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.header-menu__item {
  position: relative;
  transition: 0.3s;
}

.header-menu__item_sub {
  padding-right: 20px;
}

.header-menu__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 40px 15px;
  text-decoration: none;
  transition: 0.3s;
}

.header-menu__link_active {
  color: #FFDA0C;
}

.header-menu__link:hover {
  color: #FFDA0C;
}

.header-menu__link1,
.header-menu__link2,
.header-menu__link3 {
  cursor: default;
}

.fa-angle-down {
  position: absolute;
  font-size: 12px;
  top: 42px;
  right: -5px;
  transition: 0.3s;
}

.header-menu__item:hover .fa-angle-down {
  color: #FFDA0C;
}

.header-submenu,
.header-submenu2,
.header-submenu3 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 80px;
  background-color: #FFDA0C;
  width: 200px;
  z-index: 200;
}

.header-submenu__item,
.header-submenu2__item,
.header-submenu3__item {
  border-bottom: 1px solid rgba(5, 13, 36, 0.2);
  transition: 0.3s;
}

.header-submenu__item:last-child,
.header-submenu2__item:last-child,
.header-submenu3__item:last-child {
  border-bottom: none;
}

.header-submenu__link,
.header-submenu2__link,
.header-submenu3__link {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  color: rgba(2%, 5%, 14%, 1);
  text-decoration: none;
}

.header-submenu__item:hover,
.header-submenu2__item:hover,
.header-submenu3__item:hover {
  background-color: #ffe44b;
}

/*----------Стили для слайдера в header----------*/

.main-slider {
  position: relative;
}

.main-slider::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: auto;
  background-color: #1B202D;
  opacity: 0.8;
  mix-blend-mode: multiply;
  z-index: 200;
}

.first-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/photo-13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.two-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/photo-15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-slider .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 300;
}

.main-slider .lSSlideOuter .lSPager.lSpg>li a {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid#FFDA0C;
}

.main-slider .lSSlideOuter .lSPager.lSpg>li.active a,
.main-slider .lSSlideOuter .lSPager.lSpg>li a:hover {
  background-color: #FFDA0C;
}

.slider-action {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 300;
}

.slider-action__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.slider-action__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 1;
}

.slider-action__info {
  margin: 0;
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
}

.slider-action-btn {
  margin-top: 50px;
}

.btn {
  display: inline-block;
  font-family: "Work Sans", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #1B202D;
  padding: 15px 30px;
  border-radius: 0px 0px 0px 0px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-yellow {
  color: #1B202D;
  background-color: #FFDA0C;
}

.btn-yellow:hover {
  transform: scale(0.9);
  background-color: #fff;
  transition: 0.3s;
}

/*----------Стили для секции town----------*/

.town {
  background-color: #1B202D;
  padding: 100px 15px 0;
}

.town__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  padding: 20px 0;
}

.town-item {
  width: calc(50% - 30px);
}

.town-item__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.town-item__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.town-item__info {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

.btn-tranparent {
  color: #FFDA0C;
  border: 1px solid #FFDA0C;
  background: transparent;
}

.btn-tranparent:hover {
  color: #1B202D;
  background: #FFDA0C;
  transform: scale(0.9);
  transition: 0.3s;
}


/*----------Стили для секции counts----------*/

.best {
  padding: 90px 15px;
  background-color: #1B202D;
}

.best__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.best-box {
  width: calc(25% - 30px);
}

.best-box__num,
.best-box__plus {
  font-family: "Montserrat", Sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  color: #FFDA0C;
}

.best-box__info {
  display: block;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

/*----------Стили для секции why----------*/

.why {
  background-color: #1B202D;
  background-image: linear-gradient(rgba(27, 32, 45, 0.8), rgba(27, 32, 45, 0.8)), url(../img/photo-8-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 100px 15px;
}

.why__row {
  text-align: center;
  margin: 0 -15px;
}

.why__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.why__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.why__desc {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.skills-item {
  width: calc(33.33% - 30px);
  margin: 15px;
  background-color: rgba(27, 32, 45, 0.9);
  padding: 50px 50px 30px;
}


.skills-item__icon {
  font-size: 50px;
  font-weight: 900;
  color: #FFDA0C;
}

.skills-item__title {
  font-family: "Work Sans", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

.skills-item__info {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/*----------Стили для секции start----------*/

.start {
  background-color: #1B202D;
  padding: 100px 15px;
  text-align: center;
}

.start__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.start__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.start__desc {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}

.start-program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.start-program__item {
  width: calc(33.33% - 30px);
  margin: 15px;
  background-color: #3E4559;
}

.start-program__info {
  padding: 15px 15px 50px;
}

.start-program__title {
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.start-program__subtitle {
  color: #FFFFFF;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.start-program__divider {
  display: block;
  width: 10%;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.start-program__date {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  color: #D5D5D5;
  margin-bottom: 10px;
}

.start-program__time {
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  color: #D5D5D5;
  margin-bottom: 20px;
}

/*----------Стили для секции quote----------*/

.quote {
  background-color: #1B202D;
  background-image: linear-gradient(rgba(27, 32, 45, 0.8), rgba(27, 32, 45, 0.8)), url(../img/photo-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 100px 15px;
  text-align: center;
}

.quote__icon {
  font-size: 50px;
  font-weight: 900;
  color: #FFDA0C;
  margin-bottom: 20px;
}

.quote__desc {
  margin: 0;
  color: #FFFFFF;
  font-family: "Lato", Sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  margin-bottom: 20px;
}

.quote__photo {
  margin-bottom: 20px;
}

.quote__ava {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100px 100px 100px 100px;
}

.quote__name {
  display: block;
  color: #FFFFFF;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
}

.quote__status {
  color: #FFDA0C;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-style: italic;
}

/*----------Стили для секции price----------*/

.price {
  background-color: #1B202D;
  padding: 100px 15px;
  text-align: center;
}

.price__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.price__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.price__desc {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}

.price-info .price__desc {
  margin-bottom: 40px;
}

.price-program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.price-program__item {
  width: calc(33.33% - 30px);
  margin: 15px;
  background-color: #3E4559;
  padding: 40px 30px;
  text-align: left;
}

.price-program__item_style {
  background-color: #FFDA0C;
}

.price-plan__title {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 20px;
}

.price-plan__title_style {
  color: #1B202D;
}

.price-plan__period {
  margin: 0;
  color: #FFFFFF;
  font-family: "Work Sans", Sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 20px;
}

.price-plan__period_style {
  color: #1B202D;
}

.price-plan__divider {
  display: block;
  width: 20%;
  height: 3px;
  background-color: #FFDA0C;
  margin-bottom: 20px;
}

.price-plan__divider_style {
  background-color: #1B202D;
}

.price-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.price-list__item {
  position: relative;
  color: #D5D5D5;
  padding-left: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #A2A2A2;
}

.price-list__item_style {
  color: #3E4559;
  border-bottom: 1px solid #1B202D;
}

.price-list__item:last-child {
  border: none;
}

.price-list__item::before {
  font-family: 'FontAwesome';
  font-size: 16px;
  content: "\f00c";
  position: absolute;
  top: 12px;
  left: 0;
  color: #FFDA0C;
}

.price-list__item_style::before {
  color: #1B202D;
}

.price-list__item_close::before {
  font-family: 'FontAwesome';
  font-size: 16px;
  content: "\f00d";
  position: absolute;
  top: 12px;
  left: 0;
  color: #FFDA0C;
}

.price-list__item_close-style::before {
  color: #1B202D;
}

.price-btn {
  text-align: center;
}

.btn-black {
  background-color: #1B202D;
  color: #FFFFFF;
  border: 1px solid #1B202D;
}

.btn-black:hover {
  background-color: #FFFFFF;
  color: #1B202D;
  border: 1px solid #fff;
  transform: scale(0.9);
  transition: 0.3s;
}


/*----------Стили для секции combat----------*/

.combat__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.combat-item__wrap {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.combat-item_one {
  width: calc(25%);
  background-image: url(../img/photo-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.combat-item_two {
  position: relative;
  width: calc(50%);
  background-image: url(../img/photo-10-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 80px 15px;
}

.combat-item_two::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: auto;
  background-color: #1B202D;
  opacity: 0.8;
  mix-blend-mode: multiply;
  z-index: 100
}

.fa-paper-plane {
  position: relative;
  font-size: 50px;
  font-weight: 900;
  color: #FFDA0C;
  z-index: 100;
  margin-bottom: 30px;
}

.combat__title {
  position: relative;
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 100;
}

.combat__desc {
  position: relative;
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  z-index: 100;
}

.combat-btn {
  position: relative;
  z-index: 100;
}

.combat-item_three {
  width: calc(25%);
  background-image: url(../img/photo-17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*----------Стили для секции post----------*/

.post {
  background-color: #1B202D;
  padding: 100px 15px;
  text-align: center;
}

.post__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.post__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post__desc {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}

.post-program {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.post-program__item {
  width: calc(33.33% - 30px);
  margin: 15px;
  background-color: #3E4559;
}

.post-program__info {
  padding: 30px;
  text-align: left;
}

.post-program__title {
  color: #FFFFFF;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 50px;
}

.post-program__subtitle {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

/*----------Стили для секции like----------*/

.like {
  position: relative;
  background-image: url(../img/photo-14-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  padding: 150px 15px;
}

.like::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: auto;
  background-color: #1B202D;
  opacity: 0.8;
  mix-blend-mode: multiply;
  z-index: 100;
}

.like__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}

.like-item {
  position: relative;
  width: calc(50% - 30px);
  margin: 0 15px;
  z-index: 100;
}

.like-item__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 55px;
  margin-bottom: 20px;
}

.like-item__desc {
  margin: 0;
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 45px;
}

.like-author {
  display: flex;
  align-items: center;
}

.like-photo__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 15px;
}

.like-info__name {
  display: block;
  color: #FFFFFF;
  font-family: "Lato", Sans-serif;
  font-size: 14px;
}

.like-info__status {
  color: #FFDA0C;
  font-family: "Lato", Sans-serif;
  font-size: 14px;
}

/*----------Стили для footer----------*/

footer {
  background-color: #060E24;
  text-align: center;
  padding: 50px;
}

.copyright {
  color: #D5D5D5;
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: 500;
}


/*----------Стили для страницы about----------*/

/*----------Стили для секции us----------*/

.us {
  position: relative;
  background-color: #1B202D;
  background-image: linear-gradient(rgba(27, 32, 45, 0.8), rgba(27, 32, 45, 0.8)), url(../img/photo-13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  padding: 100px 15px;
  text-align: center;
  margin-top: 80px;
}

.us::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 50px 40px;
  border-color: transparent transparent#1B202D transparent;
}

.us__title {
  color: #FFDA0C;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;

}

/*----------Стили для секции exercises----------*/

.exercises {
  position: relative;
  background-color: #1B202D;
  text-align: center;
  padding: 100px 15px;
}

.exercises-info {
  margin-bottom: 60px;
}

.exercises-info__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.exercises-info__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Lato", Sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.exercises-info__desc {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
}

.exercises__img {
  margin-bottom: 50px;
}

.exercises-content {
  margin-bottom: 35px;
}

.exercises-content__title {
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 17px;
}

.fa-trophy {
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 10px;
}

.exercises-content__info {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.divider {
  display: block;
  position: absolute;
  bottom: -99px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3E4559;
}

/*----------Стили для секции stronger----------*/

.stronger {
  position: relative;
  background-color: #1B202D;
  padding: 100px 15px 200px;
}

.stronger__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 -15px;
}

.stronger-item {
  position: relative;
  width: calc(50% - 30px);
  margin: 0 15px;
}

.stronger-item__title {
  margin: 0;
  color: #FFDA0C;
  font-family: "Montserrat", Sans-serif;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stronger-item__subtitle {
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.stronger-item__divider {
  display: block;
  width: 7%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 30px;
}

.stronger-item__info {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}

.relation {
  position: relative;
  margin: 0 auto;
}

.video {
  max-width: 900px;
}

.relation__ratio {
  padding-top: 56.25%;
  height: 0;
}

.relation iframe {
  border: none;
}

.relation__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1B202D;
}

.relation__ratio-16x9 {
  padding-top: 56.25%;
}

.relation__ratio-1x1 {
  padding-top: 100%;
}

.relation__ratio-4x3 {
  padding-top: 75%;
}

.stronger__fly_one {
  position: absolute;
  top: 5px;
  right: 13%;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Montserrat", Sans-serif;
  font-size: 150px;
  font-weight: bold;
}

.stronger__fly_two {
  position: absolute;
  bottom: 80px;
  right: 20%;
  color: #A2A2A2;
  font-family: "Montserrat", Sans-serif;
  font-size: 150px;
  font-weight: bold;
}

/*----------Стили для страницы pricing----------*/

/*----------Стили для секции ask----------*/

.ask {
  background-color: #1B202D;
  background-image: linear-gradient(rgba(27, 32, 45, 0.8), rgba(27, 32, 45, 0.8)), url(../img/photo-8-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 100px 15px;
}

.ask__row {
  text-align: center;
  margin: 0 -15px;
}

.ask__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.ask__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ask__desc {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}

/*----------Стили для faq----------*/

.faq {
  display: flex;
  flex-wrap: wrap;
}

.faq-one,
.faq-two {
  width: calc(50% - 30px);
}

.faq-item {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  background-color: #1B202D;
  border-bottom: 1px solid #101626;
  border-radius: 5px;
  margin: 0 15px;
  transition: 0.5s;
}

.faq-item:hover {
  background-color: #060E24;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.14);
}

.faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #FFDA0C;
  padding: 25px 30px;
  cursor: pointer;
}

.faq-title:hover {
  color: #fff;
}

.faq-input {
  display: none;
}

.faq-text {
  max-height: 0;
  overflow: hidden;
  background-color: #3E4559;
  color: #D5D5D5;
  padding: 0 30px;
  transition: max-height 0.3s;
}

.faq-title .fa-caret-up {
  display: none;
}

.faq-title .fa-caret-down,
.faq-title .fa-caret-up {
  font-size: 16px;
  font-weight: 300;
}

.faq-input:checked~.faq-text {
  max-height: 10rem;
}

.faq-input:checked~.faq-title {
  background-color: #060E24;
}

.faq-input:checked~.faq-title .fa-caret-down {
  display: none;
}

.faq-input:checked~.faq-title .fa-caret-up {
  display: block;
}


/*----------Стили для страницы facilities----------*/

/*----------Стили для секции gallery----------*/

.gallery {
  background-color: #1B202D;
  padding: 100px 15px;
  text-align: center;
}

.gallery__title {
  margin: 0;
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gallery__subtitle {
  margin: 0;
  color: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.gallery__info {
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  margin-bottom: 40px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.galleri-item {
  width: calc(33.33% - 10px);
  margin: 2px 5px 3px;
}

/*----------Стили для страницы single----------*/

/*----------Стили для секции work----------*/

.work {
  background-color: #1B202D;
  padding: 100px 15px 30px;
}

.work__title {
  color: #FFFFFF;
  font-family: "Montserrat", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.work-author {
  display: flex;
  align-items: center;
}

.work-photo__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
  margin-right: 15px;
}

.work-info__name {
  color: #FFDA0C;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.work-info__status {
  display: block;
  color: #FFFFFF;
  font-family: "Lato", Sans-serif;
  font-size: 13px;
  font-weight: 400;
}

/*----------Стили для секции make----------*/

.make {
  background-color: #1B202D;
  padding: 0 15px 100px;
}

.make__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.make-item {
  width: calc(50% - 30px);
  margin: 0 15px;
}

.make-item__style {
  margin: 0;
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 30px;
}

.make-item__img {
  margin-bottom: 15px;
}

.make-item__info {
  margin: 0;
  color: #D5D5D5;
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.make-list {
  margin: 0;
  padding: 0;
  color: #D5D5D5;
  list-style: none;
}

.make-list__item {
  position: relative;
  font-size: 16px;
  padding: 5px 0;
  padding-left: 25px;
}

.make-list__item::before {
  font-family: 'FontAwesome';
  font-size: 16px;
  content: "\f00c";
  position: absolute;
  top: 6px;
  left: 0;
  color: #D5D5D5;
}

/*----------Кнопка Наверх----------*/

#toTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  background: #FFDA0C;
  font-family: "Work Sans", Sans-serif;
  font-size: 26px;
  line-height: 10px;
  text-align: center;
  color: #1B202D;
  border: 1px solid #1B202D;
  border-radius: 5px;
  padding: 5px;
  z-index: 1000;
}

/*Кнопка для адаптивного меню*/

.menuToggle {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.submenuToggle,
.submenuToggle2,
.submenuToggle3 {
  cursor: pointer;
  position: absolute;
  /*     top: 42px;
    right: 5px; */

  color: #fff;
  /*     padding: 10px; */
}



/*----------Адаптив----------*/

@media screen and (max-width: 1024px) {
  .best-box {
    text-align: center;
  }
}


@media screen and (min-width: 993px) {

  .header-menu {
    display: flex !important;
  }
}


@media only screen and (max-width: 992px) {

  header {
    padding: 25px 0;
  }

  .menuToggle {
    display: block;
  }

  .header-menu {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    background-color: rgba(2%, 5%, 14%, 1);
    padding-bottom: 20px;
  }

  .header-menu__item {
    display: block;
    text-align: center;
    /*       padding: 15px 0; */
  }

  .header-menu__link {
    padding: 15px;
  }

  .header-submenu,
  .header-submenu2,
  .header-submenu3 {

    position: relative;
    width: auto;
    top: 0;
  }

  .header-menu__item_sub {
    padding-right: 0;
  }

  .fa-angle-down {
    top: 17px;
  }

  .stronger {
    padding-bottom: 100px;
  }

  .stronger-item {
    width: 100%;
  }

  .stronger-btn {
    margin-bottom: 50px;
  }

  .stronger__fly_one,
  .stronger__fly_two {
    display: none;
  }

}

@media screen and (max-width: 812px) {

  header {
    padding: 0;
  }

  .header-top {
    padding: 10px 15px;
  }

  .header-menu {
    top: 68px;
  }

  .slider-action__subtitle {
    font-size: 30px;
  }

  .slider-action__title {
    font-size: 50px;
  }

  .slider-action__info {
    font-size: 16px;
  }

  .btn {
    padding: 15px 20px;
  }

  .slider-action-btn {
    margin-top: 15px;
  }

  .town__row {
    display: block;
  }

  .town-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .best {
    padding: 50px 15px;
  }

  .best-box__num,
  .best-box__plus {
    font-size: 40px;
  }

  .post-program__title {
    font-size: 20px;
  }

}

@media screen and (max-width: 768px) {

  .btn {
    padding: 15px 15px;
  }

  .town {
    padding: 30px 15px 0;
  }

  .town__row {
    padding: 0;
  }

  .town-item:last-child {
    margin-bottom: 0;
  }

  .best {
    padding: 30px 15px;
  }

  .best-box__num,
  .best-box__plus {
    line-height: 1.3;
  }

  .skills-item,
  .start-program__item,
  .price-program__item,
  .post-program__item {
    width: 100%;
  }

  .price-program__item {
    text-align: center;
  }

  .best-box__num,
  .best-box__plus {
    font-size: 30px;
  }

  .like {
    padding: 50px 15px;
  }

  .like-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .combat-item_one,
  .combat-item_two,
  .combat-item_three {
    width: 100%;
  }
}